{% extends 'layoutVisitor.html.twig' %}

{% block content %}
<div class="galerytitle">
    <h2>Notre galerie photos</h2>
</div>
<div class="container-fluid">
    <div class="galery">
        <div class="row justify-content-around">

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/hotelfacade.jpeg" class="img-thumbnail" alt="facade de l'hotel" data-toggle="modal" data-target="#exampleModal">
                </button>
                <div class="card-body-gallery">
                <p class="card-title">Façade du Grand Hôtel</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Façade du Grand Hôtel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                                <img src="/assets/images/galerie/hotelfacade.jpeg" class="card-img-top" alt="Facade du Grand Hotel" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/accueilhotel.jpeg" class="img-thumbnail" alt="accueil de l'hotel" data-toggle="modal" data-target="#exampleModal1">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Accueil de l'Hôtel</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Accueil de l'Hôtel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/accueilhotel.jpeg" class="card-img-top" alt="Accueil de l'Hotel" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/chambrestandard.jpeg" class="img-thumbnail" alt="chambre standard" data-toggle="modal" data-target="#exampleModal2">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Chambre standard</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chambre standard</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/chambrestandard.jpeg" class="card-img-top" alt="chambre standard" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/salledebain.jpeg" class="img-thumbnail" alt="salle de bain" data-toggle="modal" data-target="#exampleModal3">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Salle de bain</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Salle de bain</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/salledebain.jpeg" class="card-img-top" alt="salle de bain" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/chambreconfort.jpg" class="img-thumbnail" alt="chambre confort" data-toggle="modal" data-target="#exampleModal4">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Chambre confort</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chambre confort</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/chambreconfort.jpg" class="card-img-top" alt="chambre confort" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/buffetdejeuner.jpeg" class="img-thumbnail" alt="buffet petit dejeuner" data-toggle="modal" data-target="#exampleModal5">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Buffet petit dejeuner</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Buffet petit dejeuner</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/buffetdejeuner.jpeg" class="card-img-top" alt="buffet petit dejeuner" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/chambresuperieure.jpg" class="img-thumbnail" alt="chambre superieure" data-toggle="modal" data-target="#exampleModal6">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Chambre supérieure</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chambre supérieure</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/chambresuperieure.jpg" class="card-img-top" alt="chambre superieure" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/entreehotel.jpeg" class="img-thumbnail" alt="entree de l'hotel" data-toggle="modal" data-target="#exampleModal7">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Entrée de l'Hôtel</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Entrée de l'Hôtel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/entreehotel.jpeg" class="card-img-top" alt="entree de l'hotel" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/salledereunion.jpg" class="img-thumbnail" alt="salle de reunion" data-toggle="modal" data-target="#exampleModal8">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Salle de réunion</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Salle de réunion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/salledereunion.jpg" class="card-img-top" alt="salle de reunion" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
