{% extends 'layoutVisitor.html.twig' %}

{% block content %}
<div class="galerytitle">
    <h2>Notre galerie photos</h2>
</div>
<div class="container-fluid">
    <div class="galery">
    <div class="row justify-content-around">
        {% for card in cards %}
        <div class="card col-lg-3 col-sm-8 col-md-5">
            <img src="/assets/images/galerie/{{ card.picture }}" class="img-thumbnail" alt="{{ card.title }}">
            <div class="card-body">
            <p class="card-title">{{ card.title }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
