{% extends 'layoutAdmin.html.twig' %}

{% block content %}


    <h1 class="text-center">Espace administration du site Grand Hôtel</h1>

    <p>A partir de cet espace, vous pouvez gérer votre site:
        ajouter, modifier, ou supprimer du texte, et des photographies.</p>

{% endblock %}