{% extends 'layoutVisitor.html.twig' %}

{% block content%}
    <div class = "seminar">
    <div class="content-fluid">
        <div class="jumbotron-seminar">
        </div>
        <div class = "seminartitle">
        <h2>La salle de réunion</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 col-seminaire-bis">
                Fort de son expérience, Le Grand Hôtel a une véritable expertise en matière d'organisation de réunions et
                d'évènements.L'innovation et la technologie au service de votre efficacité.
                Quel que soit le type de réunions que vous organisez, une équipe de professionnels se tient à votre
                disposition pour développer des formules sur mesure et tout compris pour votre séminaire, conférence
                ou réunion.
            </div>
            <div class="col-4 col-seminaire-ter">
                Soucieux du bon déroulement de votre évènement, nous nous efforçons d’apporter un service
                diligent et une attention particulière à chacune de vos demandes.
                Nous étudions ensemble les solutions de séminaires, d’hébergements, de restauration et d’activités
                en partenariat avec nos agences privilégiées.
            </div>
        </div>
    </div>
    </div>

{% endblock %}
