<!-- Home carousel -->

<div class="carousel">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="picture">
                    <img src="/assets/images/homeCarrousel/hotelfacade.jpg" class="d-block w-100" alt="photo de la façade de l'hotel">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <div class ="text">
                        <h5>Grand hôtel Orléans</h5>
                        <p>Nous vous accueillons au coeur d'Orléans</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="picture">
                    <img src="/assets/images/homeCarrousel/jeannedarc.jpg" class="d-block w-100" alt="photo de la statue de jeanne d'arc">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <div class ="text">
                        <h5>Statue de Jeanne d'Arc</h5>
                        <p>Profitez de monuments et d'architectures uniques.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="picture">
                    <img src="/assets/images/homeCarrousel/room.JPG" class="d-block w-100" alt="photo d'une chambre de l'hotel">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <div class="text">
                        <h5>Nos chambres</h5>
                        <p>Toutes nos chambres proposent des prestations de qualité.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<!-- End home carousel -->