{% extends 'layoutVisitor.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class="media">
            <iframe width="440" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&source=s_q&hl=fr&geocode=&q=+grand+hotel+1+rue+de+la+Lionne+45000+ORLEANS&sll=47.902327,1.899141&sspn=0.018269,0.045276&ie=UTF8&hq=grand+hotel&hnear=1+Rue+de+la+Lionne,+45000+Orl%C3%A9ans&ll=47.914386,1.901407&spn=0.008774,0.022638&z=14&iwloc=A&cid=8762234226608433535&output=embed"></iframe><br /><a href="http://maps.google.fr/maps?f=q&source=embed&hl=fr&geocode=&q=+grand+hotel+1+rue+de+la+Lionne+45000+ORLEANS&sll=47.902327,1.899141&sspn=0.018269,0.045276&ie=UTF8&hq=grand+hotel&hnear=1+Rue+de+la+Lionne,+45000+Orl%C3%A9ans&ll=47.914386,1.901407&spn=0.008774,0.022638&z=14&iwloc=A&cid=8762234226608433535"></a>
            <div class="media-body">
                <h5 class="mt-0">Plan d'accès</h5>
                <p>Situé 1 Rue de la Lionne, à 3 minutes de marche de la fameuse place du Martroi et 6 minutes de la maison Jeanne d'Arc, cet hôtel conviendra à vos weekends en famille </p>
                <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>
    </div>

{% endblock %}