
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 align-items-center justify-content-center">
            <div class="media text-center justify-content-center">
                <iframe class="align-self-center" width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.9008198380470278%2C47.90349079506143%2C1.904360353946686%2C47.90498499714426&amp;layer=mapnik&amp;marker=47.90423790149434%2C1.9025900959968567"></iframe><br/><a href="https://www.openstreetmap.org/?mlat=47.90424&amp;mlon=1.90259#map=19/47.90424/1.90259"></a>
            </div>
            </div>
            <div class="col-lg-7 col-12">
                <h2 class="text-center">Localisation</h2>
           <div class="text-localisation">

                    <p>Situé en plein coeur d'Orléans, le Grand Hôtel saura vous séduire par son charme ancien. Vous êtes sûrs, selon vos préférences, de trouver parmi nos cinq types de chambres différentes , celle qui conviendra à vos besoins. Qu'il s'agisse de la chambre standard à la chambre quadruple supérieure, chacune offre un cadre original et élégant pourvues de toutes les commodités nécessaires à votre séjour.</p>
                    <p>Notre situation géographique vous permet de vous rendre à la place du Martroi où s'élève la célèbre statue de Jeanne d'Arc, de déambuler sur l'avenue de Jeanne d'Arc mais également de vous rendre directement sur les bords de Loire, à pied ou transport en commun.</p>
           </div>
            </div>
        </div>
    </div>