
    <div class="container-fluid">
        <div class="my-item d-flex flex-column flex-md-row">
            <div class="col-lg-3">
            <div class="media">
                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.9004845619201662%2C47.90348899695832%2C1.9040250778198244%2C47.90498319909306&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><a href="https://www.openstreetmap.org/#map=19/47.90424/1.90225"></a>
            </div>
            </div>
            <div class="col-lg-9 col-md-5 col-sm-3">
           <div class="text-localisation">
                    <h2 class="title-localisation">Localisation</h2>
                    <p>Situé en plein coeur d'Orléans, le Grand Hôtel saura vous séduire par son charme ancien. Vous êtes sûrs, selon vos préférences, de trouver parmi nos cinq types de chambres différentes , celle qui conviendra à vos besoins. Qu'il s'agisse de la chambre standard à la chambre quadruple supérieure, chacune offre un cadre original et élégant pourvues de toutes les commodités nécessaires à votre séjour.</p>
                    <p>Notre situation géographique vous permet de vous rendre à la place du Martroi où s'élève la célèbre statue de Jeanne d'Arc, de déambuler sur l'avenue de Jeanne d'Arc mais également de vous rendre directement sur les bords de Loire, à pied ou transport en commun.</p>
            </div>
            </div>
        </div>
    </div>