<div class = "localisation">
    <div class="container-fluid">
        <div class="my-item d-flex flex-column flex-md-row">
            <div class="col-lg-4 col-sm-12">
            <div class="media">
                <iframe
                        src="https://www.openstreetmap.org/export/embed.html?bbox=1.9003558158874514%2C47.90349259316446%2C1.904835104942322%2C47.904986795195406&amp;layer=mapnik&amp;marker=47.90423969957141%2C1.9025954604148865"></iframe><br/>
            </div>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-12">
                <h2 class="text-center">Localisation</h2>
           <div class="text-localisation">

                    <p>Situé en plein coeur d'Orléans, le Grand Hôtel saura vous séduire par son charme ancien. Vous êtes sûrs, selon vos préférences, de trouver parmi nos cinq types de chambres différentes , celle qui conviendra à vos besoins. Qu'il s'agisse de la chambre standard à la chambre quadruple supérieure, chacune offre un cadre original et élégant pourvues de toutes les commodités nécessaires à votre séjour.</p>
                    <p>Notre situation géographique vous permet de vous rendre à la place du Martroi où s'élève la célèbre statue de Jeanne d'Arc, de déambuler sur l'avenue de Jeanne d'Arc mais également de vous rendre directement sur les bords de Loire, à pied ou transport en commun.</p>
           </div>
            </div>
        </div>
    </div>
</div>