<div class="container">
    <div class="description">
        <h2>Grand Hôtel Orléans</h2>
        <p>Bienvenue au Grand Hôtel à Orléans membre du réseau Contact-hotel</p>
        <p> Nous vous accueillons au calme et en plein coeur d'Orléans, à deux pas de la place du Martroi.
        Nos chambres, auxquelles vous accéderez par l'ascenseur, disposent toutes d'un accès wifi haut débit gratuit.</p>
        <p>Ouvert du Lundi au Vendredi de 7h00 à 22h00 - Samedi et Dimanche de 8h00 à 12h00 et de 15h00 à 22h00.
            Notre hôtel est accessible aux personnes handicapées à l'exception des personnes en fauteuil roulant, pour lesquelles nous avons une dérogation.</p>
    </div>

</div>