<!-- Home Services -->

<div class="homeServices">
    <div class="container-fluid">
        <div class = option>
        <h2>Les services de l'hôtel</h2>
        </div>
        <div class = "service">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-sm-8">
                <p><img id="animaux" src="/assets/images/services/animaux.png" alt="image d'animaux" class="icone"/>Animaux accéptés</p>
                <p><img id="ascenseur" src="/assets/images/services/ascenseur.png" alt="image d'ascenseur" class="icone"/>Ascenseur disponible</p>
                <p><img id="cartebancaire" src="/assets/images/services/cartebancaire.png" alt="image de carte bancaire" class="icone"/>Paiement par carte bancaire</p>
            </div>

            <div class="col-md-5 col-lg-4 col-sm-8">
                <p><img id="fax" src="/assets/images/services/fax.png" alt="fax" class="icone"/>Fax disponible</p>
                <p><img id="nonfumeur" src="/assets/images/services/nonfumeur.png" alt="image non fumeur" class="icone"/>Hôtel non-fumeur</p>
                <p><img id="americanexpress" src="/assets/images/services/amex.png" alt="image d'american express" class="icone"/>Américan express accépté</p>
            </div>

            <div class="col-md-5 col-lg-4 col-sm-8">
                <p><img id="sallereunion" src="/assets/images/services/sallereunion.png" alt="image de reunion" class="icone"/>Salle de réunion</p>
                <p><img id="wifi" src="/assets/images/services/wifi.png" alt="image de wifi" class="icone"/>Wifi gratuit</p>
                <p><img id="chequevancance" src="/assets/images/services/chequevacances.png" alt="image de cheque vacances" class="icone"/>Chêques vancances accéptés</p>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- end Home Services -->