<!-- RoomIndex -->

<div class="container-fluid">
    <div class = option>
        <h2>Nos Chambres</h2>
    </div>
    <div class="galery">
        <div class="row justify-content-around">

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/chambrestandard.jpeg" class="img-thumbnail" alt="chambre standard" data-toggle="modal" data-target="#exampleModal2">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Chambre standard</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chambre standard</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/chambrestandard.jpeg" class="card-img-top" alt="chambre standard" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/chambreconfort.jpg" class="img-thumbnail" alt="chambre confort" data-toggle="modal" data-target="#exampleModal4">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Chambre confort</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chambre confort</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/chambreconfort.jpg" class="card-img-top" alt="chambre confort" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-gallery col-lg-3 col-sm-8 col-md-5">
                <button type="button" class = "btn">
                    <img src="/assets/images/galerie/chambresuperieure.jpg" class="img-thumbnail" alt="chambre superieure" data-toggle="modal" data-target="#exampleModal6">
                </button>
                <div class="card-body-gallery">
                    <p class="card-title">Chambre supérieure</p>
                </div>
            </div>
            <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chambre supérieure</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="/assets/images/galerie/chambresuperieure.jpg" class="card-img-top" alt="chambre superieure" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- end RoomIndex -->