<!-- Footer -->
<footer class="page-footer lighten-3 pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-sm-8">
                <div class="contact">
                    <h5 class="font-weight-bold text-uppercase">Grand Hôtel</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>1 rue de la Lionne 45000 ORLEANS</p>
                        </li>
                        <li>
                            <p>Mail : grandhotel45@hotmail.com</p>
                        </li>
                        <li>
                            <p>Tél : 02 38 53 19 79</p>
                        </li>
                        <li>
                            <p>Fax : 02 38 62 25 11</p>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-5 col-lg-4 col-sm-8">
                <div class="logofooter"><p>Le Grand Hôtel</p></div>

            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-5 col-lg-4 col-sm-8">
                <div class="lien">
                    <div class="logo1">
                        <div class="row">
                            <div class="col-5"><a class="lienfoot"
                                                  href="https://www.tripadvisor.fr/Hotel_Review-g187129-d243818-Reviews-Le_Grand_Hotel-Orleans_Loiret_Centre_Val_de_Loire.html"><img
                                            src="/assets/images/tripadvisor.png" alt="logotripadvisor" class="logo"></a>
                            </div>
                            <div class="col-5"><a class="lienfoot"
                                                  href="https://www.tourisme-orleansmetropole.com/"><img
                                            src="/assets/images/office.png" alt="logoofficetourisme" class="logo"></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5"><a class="lienfoot"
                                              href="https://www.entreprises.gouv.fr/qualite-tourisme"><img
                                        src="/assets/images/qualite.jpg" alt="logoqualitétourime" class="logo"></a>
                        </div>
                        <div class="col-5"><a class="lienfoot"
                                              href="https://www.contact-hotel.com/hotel-france/1753/grand-hotel-orleans.htm"><img
                                        src="/assets/images/contact-hotel.png" alt="logocontacthotel" class="logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Links -->
</footer>
<!-- Footer -->