{% block header %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="../..">Le Grand Hôtel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/Room/index">Chambres</a>
                <a class="nav-item nav-link" href="/galery/index">Galerie</a>
                <a class="nav-item nav-link" href="/Seminar/index">Séminaire</a>
                <a class="nav-item nav-link" href="/WeekEnd/index">Weekend à Orléans</a>
                <a class="nav-item nav-link" href="/Review/Index">Commentaires</a>
                <a class="nav-item nav-link" href="/Contact/index">Contact</a>

                <!--  <div class="resa-btn"> -->

            </div>
            <div class="ml-auto">
                <a class="btn p-1 mr-3 btn-lg btn-resa"
                   href="https://www.contact-hotel.com/hotel-france/1753/grand-hotel-orleans.htm">Réservation</a>
            </div>
        </div>
    </nav>
{% endblock %}
