{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Le Grand Hôtel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Chambres</a>
                <a class="nav-item nav-link" href="#">Galerie</a>
                <a class="nav-item nav-link" href="#">Séminaire</a>
                <a class="nav-item nav-link" href="#">Weekend à Orléans</a>
                <a class="nav-item nav-link" href="#">Contact</a>

                <form class="form-inline my-2 my-lg-0">
                    <a class="navbar-brand-resa" href="https://www.contact-hotel.com/hotel-france/1753/grand-hotel-orleans.htm">Réservation</a>
                </form>
                <!--<a class="navbar-brand-resa" href="https://www.contact-hotel.com/hotel-france/1753/grand-hotel-orleans.htm">Réservation</a> ->

               <!--<div class="reservation">
                <a class="nav-item nav-link" href="https://www.contact-hotel.com/hotel-france/1753/grand-hotel-orleans.htm">Réservation</a>
                </div> -->
                </div>
        </div>
    </nav>
{% endblock %}
