{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="../..">Le Grand Hôtel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/room/index">Chambres</a>
                <a class="nav-item nav-link" href="/galery/index">Galerie</a>
                <a class="nav-item nav-link" href="/Seminar/index">Séminaire</a>
                <a class="nav-item nav-link" href="#">Weekend à Orléans</a>
                <a class="nav-item nav-link" href="/Contact/index">Contact</a>
              <!--  <div class="resa-btn"> -->
                <form class="form-inline my-0 my-lg-0">
                    <button type="button" class="btn btn-resa" style="position: absolute; right: 0;"><a class="navbar-brand-resa" href="https://www.contact-hotel.com/hotel-france/1753/grand-hotel-orleans.htm">Réservation</a></button>
                </form>
                </div>
                </div>
    </nav>
{% endblock %}
