<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>On vous a contacté sur votre site!</title>
</head>
<body>
<h1>Vous avez reçu un message de {{ expeditorName }} !</h1>

<h2>Message posté sur votre site:</h2>

<br>
<br>
<div>
    <p>{{ submitedMessage }}</p>
</div>
<br>
<br>
<p>Vous pouvez répondre à {{ expeditorName }} à l'adresse suivante : {{ expeditorEmail }}.</p>
<hr>

<div>
    <p> Si vous rencontrez des difficultés à lire ce mail, n'hésitez pas à contacter vos
        développeurs, <a href="#">Jeanette</a>, <a href="#">Yohann</a>,
        et <a href="#">André</a>.</p>

</div>
</body>
</html>