{% extends 'layout.html.twig' %}
{% block header %}
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">Accueil admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="rooms">Chambres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reviews">Commentaires</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Galerie</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Articles</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Actualités</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Salle de conférences</a>
                </li>
            </ul>

        </div>
    </nav>
    {% endblock %}
    {% block footer %}
</div>
{% endblock %}