
/* Footer */
.page-footer{
    background-color: #2F3D40;
}

.logo{
    width: 5em;
}

.contact{
    padding-top: 12px;
    color: #FFFFFF
}

.logo1{
    padding-bottom: 30px;
}

.logofooter{
    width: 22em;
  }

.lien{
    padding-top: 10px;
    padding-left: 50px;
}
/* EndFooter */

/*access on homepage*/

.media-body{
    text-align: justify;

}

h2{
    font-size: 60px;
    font-family: "Dancing Script";
}

.mt-0{
    text-align: center;
    padding-bottom: 70px;
}

div iframe{
    border-color: transparent;
}