/* Navbar */

.navbar{
    background-color: #2F3B40;
    margin-bottom: 10px;
    font-family: "Dancing Script", sans-serif;
}

.navbar-brand{
    font-size: 40pt;
    margin-left: 5px;
    margin-right: 50px;
    color: whitesmoke;
}

.navbar-brand-resa{
    font-size: xx-large;
    color: black;
}

.btn {
    background-color: #FFFFFF;

}

.resa-btn{


}

.navbar-brand-resa:hover{
    text-decoration: underline;
    color: darkslateblue;
}


.navbar-brand:hover{
    text-decoration: underline;
    color: whitesmoke;
}

.nav-link{
    font-size: xx-large;
    color: whitesmoke;
}

.nav-link:hover{
    text-decoration: underline;
    color:  whitesmoke;
}

.button.navbar-toggler.navbar-dark{
    margin: auto;
}

.nav-item{
    margin-right: 30px;
}

/*CarrouselIndex*/

.picture img {
    object-fit: cover;
    height: 450px;
    filter: brightness(50%);
}

.text h5 {
    color: #FFFFF;
    font-size: 60px;
    font-family: "Dancing Script", sans-serif;
}

.text p{
    color: #FFFFF;
    font-size: 30px;
    font-family: "The Girl Next Door", sans-serif;
}

/* EndCarrouselIndex*/


/*Général*/
h1{
    font-family: "Dancing Script", sans-serif;
    font-size: 90px;
}

h2{
    font-size: 60px;
    font-family: "Dancing Script", sans-serif;
}

h3 {
    font-size: 30pt;
    font-family: "Dancing Script", sans-serif;
}

body {
    font-family: "The Girl Next Door", sans-serif;
    font-size: 20pt;
}



/*rooms/index*/
.roomCard {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #2F3D40;
    border-bottom-width: medium;
}

.services {
    background-color: #2F3D40;
    color: #FFFFFF;
    list-style: circle;


}

.carouselPictureRoomPage {
    width: 50vw;
    height: 35vw;
}




/* Footer */
.page-footer{
    background-color: #2F3D40;
}

.logo{
    width: 5em;
}

.contact{
    padding-top: 12px;
    color: #FFFFFF;
    font-family: "The Girl Next Door", sans-serif;
}


.logo1{
    padding-bottom: 30px;
}

.logofooter{
    width: 20em;
    object-fit: cover;
    padding-right: 90px;
  }

.lien{
    padding-left: 50px;
    padding-bottom: 20px;
}
/* EndFooter */

.text-localisation{
    text-align: justify;
    font-family: "The Girl Next Door", sans-serif;
    font-size: 25px;

}

.title-localisation{
    text-align: center;
    padding-bottom: 50px;
}

.media-map{
    margin-top: 55%;
}

@media (max-width: 768px) {

    .carouselPictureRoomPage {
        width: 50vw;
        height: 35vw;
        margin-left: 25%;
    }


}



